*:not([class^=pe-7s-]) {
  font-family: 'Poppins', sans-serif !important;
}

:root {
  --primary: #2475BB;
  --primary-dark: #2D8CBA;
  --primary-light: #50AFDD;
  --secondary: #F2D246;
  --secondary-dark: #ED8833;
  --success: #009B83;
  --danger: #FF7D94;
  --muted: #3F3F3F;
  --gray: #D7D7D7;
  --blue: #2457AB;
  --dark: #06111F;
  --black: #000000;
  --white: #ffffff;
}

.container-fluid {
  width: 90%;
}

.divider {
  border: 1px solid var(--gray);
  height: 14px !important;
}

input {
  border-color: var(--primary) !important;
}

.off-canvas-box {
  width: 100%;
  left: -100%;
}

.header-wrapper .topbar,
.header-wrapper .header {
  z-index: 1;
  position: relative;
}

h1 {
  font-weight: 900;
  font-size: 42px;
}

h2 {
  font-weight: 900;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
}

.header-search .input {
  border: none;
}

.input {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  color: var(--black);
  padding: 16px;
  border: none;
  border-bottom: 2px solid var(--black) !important;
}

.input:focus {
  outline: none;
}

.btn {
  padding-block: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 12px;
  text-transform: capitalize;
}

.btn-block {
  width: 100%;
}

.btn-lg {
  padding-inline: 42px;
  padding-block: 8px;
  font-weight: 800;
  text-transform: capitalize;
}

.btn-md {
  padding-inline: 46px;
  padding-block: 8px;
  font-weight: 800;
  text-transform: capitalize;
}

.btn:hover .btn-text {
  transform: scale(.9);
}

.btn-primary-light:hover {
  background: var(--primary-dark);
  color: var(--white);
}

.btn-secondary:hover {
  background: var(--primary-dark);
  color: var(--black);
}

.btn-primary-light {
  background-color: var(--primary-light);
  color: var(--white);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--black);
}

.btn-outline-black {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
}

.btn-outline-white {
  border: 1px solid var(--white);
  color: var(--white);
}

.btn-outline-white:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn-white {
  background-color: var(--white);
  color: var(--black);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-light {
  background-color: var(--primary-light) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-black {
  background-color: var(--black);
}

.text-black {
  color: var(--black);
}

.text-primary {
  color: var(--primary) !important;
}

.text-primary-light {
  color: var(--primary-light) !important;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 47px;
}

#social-icons a .hover {
  display: none;
}

#social-icons a:hover .hover {
  display: block;
}

#social-icons a:hover img:not(.hover) {
  display: none;
}

.black-overlay::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .35);
}

.black-overlay-radius::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .35);
  border-radius: 10px;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border: none;
  width: max-content;
}

.nav-tabs .nav-link:hover {
  color: var(--primary);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  border-radius: 0;
  border-bottom: 2px solid var(--primary);
}

/* ---------- TOPBAR ---------- */

.topbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 55px;
}

.topbar-left .topbar-menu,
.topbar-right .topbar-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-left .topbar-menu .topbar-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--muted);
  background: #FFFFFF66;
}

.topbar-left .topbar-menu .topbar-menu-link.active {
  font-weight: 700;
  color: var(--black);
  background: var(--secondary);
}

.topbar-left .topbar-menu .topbar-menu-link:hover {
  color: var(--black);
  background: var(--secondary);
}

.topbar-right .topbar-action {
  gap: 23px;
}

.topbar-right .topbar-action a {
  font-weight: 700;
  color: var(--white);
}

.topbar-right .topbar-action a:hover,
.topbar-right .topbar-action .topbar-action-translation a:hover,
.canvas-action .action:hover,
.canvas-action .action.active {
  font-weight: 700;
  color: var(--secondary);
}

.topbar-right .topbar-action .topbar-action-translation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.topbar-right .topbar-action .topbar-action-translation a {
  font-weight: 500;
  padding: 0px 8px;
  color: var(--gray);
}

.topbar-right .topbar-action .topbar-action-translation a.active {
  font-weight: 700;
  color: var(--secondary);
}

/* ---------- HEADER ---------- */

.header {
  border-radius: 95px;
  box-shadow: 2px 4px 8px rgba(73, 73, 73, 0.15);
}

.header-menu .nav-menu a {
  text-transform: capitalize !important;
  color: var(--primary) !important;
}

.header-menu .nav-menu .sub-menu .sub-sub-menu {
  display: none;
  padding-left: 20px;
}

.header-menu .nav-menu .sub-menu a.active ~ .sub-sub-menu {
  display: block;
}

.header-menu .nav-menu .sub-menu .menu-item-has-children>a::after {
  content: "\e684";
  font-family: 'Pe-icon-7-stroke';
  margin-left: 5px;
  font-size: 24px;
  line-height: 20px;
  display: block;
  float: right;
  transform: rotate(90deg);
}

.header-menu .nav-menu .sub-menu {
  margin-top: 25px;
  border-top: 0;
  padding: 25px;
  border-radius: 20px;
  width: max-content;
}

.header-menu .nav-menu .sub-menu .menu-item-has-children>a::after {
  transform: rotate(0);
}

.header-menu .nav-menu .sub-menu .menu-item-has-children>a.active::after {
  transform: rotate(90deg);
}

.header-menu .nav-menu .sub-menu .sub-sub-menu a {
  font-weight: 400;
}

.header-menu .nav-menu .sub-menu a:hover {
  color: var(--secondary) !important;
  padding-left: 20px !important;
}

.header .header-menu-left .nav-menu {
  justify-content: flex-end;
}

.header .header-menu-right .nav-menu {
  justify-content: flex-start;
}

.header .header-menu .nav-menu a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: var(--primary);
}

.header .header-menu .nav-menu i {
  font-weight: 700;
  font-size: 24px;
}

.header .header-menu .nav-menu li:hover a {
  color: var(--secondary);
}

.header .header-logo {
  position: absolute;
  top: -63px;
}

.header.sticky {
  border-radius: 0;
}

.header.sticky .header-logo {
  position: relative;
  top: unset;
}

.header.sticky .header-logo img {
  height: 70px;
}

.header-mobile {
  position: relative;
}

/* ---------- HERO ---------- */

.hero {
  width: 100%;
  overflow: hidden;
}

.hero-video {
  height: 500px;
  width: 100vw;
  object-fit: cover;
}

.hero.parallax {
  height: 500px;
}

.parallax .hero-video {
  position: fixed;
  z-index: -1;
}

/* ---------- PAGE TITLE ---------- */

.page-title,
.page-title img {
  width: 100%;
}

/* ---------- CONTENT ---------- */

.content {
  height: 100vh;
}

/* ---------- E-STORE ---------- */

.store {
  margin-block: 50px;
  width: max-content;
}

.store-highlight {
  background-color: var(--primary-light);
  border-radius: 18px;
  box-shadow: 12px 12px 0px 0px var(--secondary-dark);
  overflow: hidden;
  height: 100%;
}

.store-highlight .store-highlight-image {
  width: 200px;
}

.store-highlight .store-highlight-content {
  padding-top: 27px;
}

.store-highlight .store-highlight-content .store-highlight-text {
  color: var(--white);
  font-size: 38px;
  font-weight: 900;
  line-height: 39.14px;
  text-align: left;
  margin-bottom: 42px;
}

/* ---------- PRODUCT ---------- */

.store-product {
  font-family: 'Nunito', sans-serif !important;
  border-radius: 18px;
  padding: 22px;
}

.store-product .store-product-image img {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 100%;
  height: 170px;
  object-fit: contain;
}

.store-product .store-product-content .store-product-content-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 12px;
  text-align: center;
}

.store-product .store-product-content .store-product-content-price {
  color: var(--white);
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 26px;
  text-align: center;
}

/* products */
#products {
  background-image: url('../images/campina/Vector.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
}

.product-tabs-content .single-product-02 .product-images {
  z-index: 0;
}

.product-tabs-content .single-product-02:hover .product-images::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/campina/back-product-hover.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.product-tabs-content .product-content .title a {
  font-size: 18px !important;
  font-weight: 900;
  line-height: 27px;
}

.swiper-creator {
  padding-block: 24px;
}

.swiper-creator .swiper-slide-prev,
.swiper-creator .swiper-slide-next {
  opacity: .4;
}

.swiper-creator .product-content .title a {
  font-size: 24px !important;
  font-weight: 900;
  letter-spacing: 0em;
  text-align: left;
}

/* ---------- RESELLER ---------- */

.person-campina {
  margin-bottom: 50px;
}

.become-a-reseller {
  padding-inline: 50px;
  padding-bottom: 58px;
  padding-top: 100px;
  border-radius: 29px;
  background-color: var(--white);
  box-shadow: 12px 12px 0px 0px var(--secondary-dark);
  z-index: 0;
}

.become-a-reseller .become-a-reseller-decoration {
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
  z-index: -1;
}

.become-a-reseller .become-a-reseller-decoration img {
  transform: scale(1.07);
}

.become-a-reseller .become-a-reseller-title {
  color: var(--primary-light);
  font-weight: 900;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
}

.become-a-reseller .become-a-reseller-text {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 24px;
}

/* ---------- INSIDE CAMPINA ---------- */

.inside-campina-item {
  border-radius: 18px;
  height: 100%;
  overflow: hidden;
}

.inside-campina-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- PRODUCT CONTENT ---------- */

.product-page-content,
.fun-creator-page-content {
  padding-top: 57px;
  padding-bottom: 200px;
}

.product-page-content {
  background-color: #DBF3FF;
}

.product-tabs .product-tabs-menu {
  gap: 14px;
  margin-bottom: 42px;
}

.product-tabs .product-tabs-menu a {
  width: 96px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid #ADDAF0;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.product-tabs .product-tabs-menu a:hover,
.product-tabs .product-tabs-menu a.active {
  color: #3798C7;
  border: 2px solid #3798C7;
}

.product-tabs-content .product-tabs-content-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/campina/back-product.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.product-tabs-content .product-tabs-content-item:hover::before {
  background-image: url('../images/campina/back-product-hover.png');
  transition: all ease-in-out 300ms;
}

.product-tabs-content .product-tabs-content-item:nth-child(even):hover::before {
  background-image: url('../images/campina/back-product-hover-center.png');
  transition: all ease-in-out 300ms;
}

.product-tabs-content .product-tabs-content-item img {
  height: 266px;
  max-width: 250px;
  object-fit: contain;
  z-index: 1;
}

/* ---------- FUN CREATOR CONTENT ---------- */

.fun-creator-page-content {
  background-color: var(--secondary);
  background-image: url('../images/campina/bg-fun-creator-content.png');
}

.fun-creator-page-content-menu a {
  padding-inline: 14px;
  padding-block: 11px;
  display: block;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  border-radius: 10px;
}

.fun-creator-page-content-menu img {
  margin-right: 43px;
}

/* ---------- LIFE AT CAMPINA CONTENT ---------- */

.life-at-campina-page-content {
  padding-top: 93px;
  padding-bottom: 45px;
}

#carrers table tbody td {
  padding-block: 10px;
}

#carrers table tbody td:first-child div {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

#carrers table tbody td:last-child div {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

#carrers {
  background-color: #F5F9FA;
  padding-top: 89px;
  padding-bottom: 141px;
  margin-top: 100px;
}

#carrers .row,
#carrers table {
  margin-top: 52px;
}

.life-at-campina-page-content .nav {
  margin-top: 97px;
  margin-bottom: 100px;
}

/* swiper */

.swiper .single-product-02 .product-hover-image {
  display: none;
}

.swiper .single-product-02:hover .product-images::before,
.swiper .single-product-02:hover .product-hover-image {
  display: block;
}

.swiper .single-product-02:hover img:not(.product-hover-image) {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  background: white;
  font-family: 'swiper-icons' !important;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: bold !important;
}

.swiper-navigation-wrapper {
  position: absolute;
  bottom: 100px;
  left: 10%;
}

.slider-active .swiper-button-prev,
.slider-active .swiper-button-next {
  position: relative;
  right: unset;
  left: unset;
}

#become-a-reseller {
  padding-block: 66px;
}

#inside-campina::before,
#fun-creator::before {
  content: '';
  position: absolute;
  display: block;
  background-image: url('../images/campina/decoration-star.png');
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 204px;
  height: 319px;
}

#inside-campina::after,
#fun-creator::after {
  content: '';
  position: absolute;
  display: block;
  background-image: url('../images/campina/decoration-star-2.png');
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  width: 199px;
  height: 333px;
}

#inside-campina {
  padding-block: 66px;
}

#fun-creator {
  padding-bottom: 100px;
}

#fun-creator h2 {
  margin-bottom: 26px;
}

#fun-creator .container {
  margin-bottom: 28px;
}

#products .main {
  padding-block: 32px;
}

#products .main h2 {
  margin-bottom: 0;
}

#inside-campina .title {
  margin-bottom: 26px;
}

#footer-top {
  padding-top: 32px;
  padding-bottom: 18px;
}

#footer-bottom {
  padding-top: 14px;
  padding-bottom: 20px;
}

.mitra-campina {
  bottom: 100px;
  right: 20px;
  z-index: 10;
}

.mitra-campina img {
  height: 80px;
}

.page-content-title {
  padding-block: 30px;
}

.parallax-scroll {
  z-index: 2;
  width: 35%;
}

@media (min-width: 992px) {
  .container-fluid {
    width: 85%;
  }

  .topbar {
    display: flex;
  }

  h1 {
    font-size: 86px;
    line-height: 129px;
  }

  h2 {
    font-size: 48px;
    line-height: 72px;
  }

  h6 {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }

  .btn-lg {
    padding-inline: 81px;
    padding-block: 12px;
    font-size: 20px;
  }

  .hero.parallax {
    min-height: 100vh;
  }

  .hero-video {
    min-height: 100vh;
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .store-wrapper {
    padding-inline: 175px;
  }

  .store {
    width: unset;
  }

  .store-highlight .store-highlight-image {
    width: unset;
  }

  .swiper-creator {
    padding-block: 36px;
  }

  .swiper-creator .product-content .title a {
    font-size: 50px !important;
    line-height: 55px;
  }

  .become-a-reseller .become-a-reseller-decoration {
    width: 100%;
    height: 100%;
    top: -20%;
    left: 0;
  }

  .become-a-reseller .become-a-reseller-decoration img {
    transform: scale(1.1);
  }

  #become-a-reseller {
    padding-top: 155px;
    padding-bottom: 150px;
  }

  #fun-creator h2 {
    margin-bottom: 72px;
  }

  #fun-creator .container {
    margin-bottom: 74px;
  }

  #products .main {
    padding-block: 92px;
  }

  #products .main h2 {
    margin-bottom: 44px;
  }

  #inside-campina {
    padding-block: 150px;
  }

  .person-campina {
    margin-bottom: 0;
  }

  .become-a-reseller .become-a-reseller-title {
    margin-bottom: 25px;
  }

  .become-a-reseller .become-a-reseller-text {
    font-size: 16px;
    margin-bottom: 41px;
  }

  #inside-campina .title {
    margin-bottom: 60px;
  }

  #footer-top {
    padding-top: 70px;
    padding-bottom: 24px;
  }

  .qr-code {
    border-radius: 19px;
    padding: 9px;
    box-shadow: 0px 0px 20px 0px #0000001A;
  }

  #footer-bottom {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .mitra-campina img {
    height: unset;
  }

  .page-title .page-title-wrapper {
    padding-block: 120px;
  }

  .product-tabs .product-tabs-menu {
    gap: 36px;
    margin-bottom: 97px;
  }

  .page-content-title {
    padding-block: 59px;
  }

  #carrers .row,
  #carrers table {
    margin-top: 125px;
  }

  .overflow-lg-visible {
    overflow: visible !important;
  }

  .parallax-scroll {
    width: unset;
  }
}

/* corporate */
#founder-message {
  overflow: hidden;
}

#founder-message .part,
#news-event {
  padding-block: 66px;
}

#news-event h3 {
  position: relative;
  width: fit-content;
}

#news-event h3::after {
  content: '';
  width: 50%;
  height: 5px;
  background-color: var(--white);
  position: absolute;
  display: block;
  bottom: -10px;
}

#news-event .swiper-button-prev,
#news-event .swiper-button-next {
  top: 0;
}

#news-event .swiper-button-prev {
  right: 70px;
  left: auto;
}